.shazam-text-color{
    color: #00a7ff;
}

.shazam-bg-color{
    background-color: #00a7ff;
}

.shazam-logo-size{
    width: 50%;
    height: 80%;
}
.shazam-link-size{
    width: 45%;
}
.main-bg{
    background: linear-gradient(#00b1ff, #3e64fd);
}
.footer-bg{
    background-color: #141414;
}